<!DOCTYPE html>
<html>
	<head>
		<title>Rebecca Hsieh</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
		<!-- link to main stylesheet -->
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume">Resume</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Rebecca Hsieh</h1>
				<p>Under construction -- be back later.</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
           		<li><a target="_blank" href="https://linkedin.com/in/hsiehr"><i class="fab fa-linkedin-in"></i></a></li>
        		<li><a target="_blank" href="mailto:rebecca.hsieh07@gmail.com"><i class="far fa-envelope-open"></i></a></li>
        		<li><a target="_blank" href="https://github.com/therealslimhsiehdy"><i class="fab fa-github"></i></a></li>
        		<li><a target="_blank" href="https://instagram.com/therealslimhsiehdy"><i class="fab fa-instagram"></i></a></li>
			</ul>
		</footer>
	</body>
</html>