<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Rebecca Hsieh</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
		<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
		<!-- link to main stylesheet -->
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/resume/RebeccaHsieh_Resume_0924.pdf">Resume</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h2>Rebecca Hsieh</h2>
       			<p class="cb">fmt.Println("<font color="#EF3710">H</font><font color="#FAA838">e</font><font color="#FDFD26">l</font><font color="#EBF643">l</font><font color="#3768FF">o</font> <font color="#4869FE">W</font><font color="#B26BFE">o</font><font color="#EF3710">r</font><font color="#FAA838">l</font><font color="#FDFD26">d</font><font color="#A4FF37">!</font>")</p>
       			<br>
       			<p class="cb">func <font color="#8D53CB">therealslimhsiehdy</font>(tea, socks, sandals, cats) string {</p>
       			<p class="cb"><p class="tab">return "<span style="background-color: #FDFD26">Rebecca Hsieh</span> " + "<span style="background-color: #FDFD26">software engineer</span>"</p>
       			
       			<p class="cb">}</p>
       			</p></p>
        		<!--<p class="cb"><font color="orange">This text should be orange and in code block style</font></p> -->
				<p>Hello friends, welcome to my personal page!
				<br>
				<br>
				Glad you've joined me on my journey for my little side project of building a website. I'll be making changes to the surface, but will be adding features to the back that are invisible to the naked eye. However, if you right click and inspect it, it'll all be there. 
				<br>
				<br>
				Feel free to peruse through my page and don't forget to check out my resume ;)</p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
           		<li><a target="_blank" href="https://linkedin.com/in/hsiehr"><i class="fab fa-linkedin-in"></i></a></li>
        		<li><a target="_blank" href="mailto:rebecca.hsieh07@gmail.com"><i class="far fa-envelope-open"></i></a></li>
        		<li><a target="_blank" href="https://github.com/therealslimhsiehdy"><i class="fab fa-github"></i></a></li>
        		<li><a target="_blank" href="https://instagram.com/therealslimhsiehdy"><i class="fab fa-instagram"></i></a></li>
			</ul>
		</footer>
	</body>
</html>